h1
{
    font: 28px Brush Script MT, sans-serif;
}

a
{
    font: 15px Trebuchet MS, sans-serif;
}

button
{
    font: 17px "Courier New";, sans-serif;
}

label
{
    font: 17px "Courier New";, sans-serif;
    color: whitesmoke;
    white-space: nowrap;
}

span
{
    font: 17px "Courier New", sans-serif;
}

div
{
    font: 15px Trebuchet MS, sans-serif;
    color: whitesmoke;
}

body
{
    background: black;
}

.TITLE_DIV
{
    font: 28px "Courier New", sans-serif;
    text-align: center;
    color: whitesmoke;
}

.UI_DIV
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.NODE_LABEL
{
    color: #FFF;
    font-family: sans-serif;
    padding: 2px;
    background: rgba( 0, 0, 0, .6 );
}

.PROGRESS_DIV
{
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}


.CONFIG_DIV
{
    position: absolute;
    /*
    Why is this not applying to CONTROL_PARAMETER_DISPLAY_DIV and DOWNLOAD_BUTTON?
     */
    font: 18px "Courier New";
}

.CONTROL_PARAMETER_DISPLAY_DIV
{
    font: 18px "Courier New";
}

.DOWNLOAD_BUTTON
{
    font: 16px "Courier New";
}

.SIBLING_SELECTION_MENU
{
    font: 16px "Courier New";
}

.DRAG_AND_DROP
{
    font: 18px "Courier New";
    border-style: dashed;
}

.DND_TEXT
{
    margin-left: 10px;
    margin-right: 10px;
    font: 16px "Courier New";
}

input[type="file"]{
    color: black;
}
